// @font-face {
//     font-family: custom-font;
//     src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
//     unicode-range: U+4E00-9FFF;
// }

@font-face {
    font-family: 'Noto Sans TC';
    src: url('font/TheSansC4s-2_ExtraLight.woff');
    unicode-range: U+00-024F;
}